 .u-section-1 {
  background-image: linear-gradient(#1a1a1a, #2cccc4);
}

.u-section-1 .u-sheet-1 {
  min-height: 1923px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  margin: 64px auto 0 32px;
  padding: 32px 42px 33px 41px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -113px auto 0 318px;
  padding: 31px 15px 33px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -113px 308px 0 auto;
  padding: 32px 35px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -112px 31px 0 auto;
  padding: 31px 1px 31px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 397px;
  margin: 63px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1058px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-1 .u-group-1 {
  min-height: 440px;
  height: auto;
  margin: 43px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 188px 0 7px;
}

.u-section-1 .u-text-2 {
  margin: -25px 7px 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 44px;
  height: auto;
  width: 301px;
  margin: 35px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-3 {
  margin: 12px 9px 0;
}

.u-section-1 .u-group-3 {
  min-height: 44px;
  height: auto;
  width: 301px;
  margin: 26px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-4 {
  margin: 12px 9px 0;
}

.u-section-1 .u-group-4 {
  min-height: 44px;
  height: auto;
  width: 301px;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-5 {
  margin: 12px 9px 0;
}

.u-section-1 .u-group-5 {
  min-height: 44px;
  height: auto;
  width: 301px;
  margin: 26px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  margin: 12px 9px 0;
}

.u-section-1 .u-group-6 {
  min-height: 44px;
  height: auto;
  width: 301px;
  margin: 29px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-7 {
  margin: 12px 9px 0;
}

.u-section-1 .u-group-7 {
  min-height: 372px;
  height: auto;
  margin: 59px 1px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 24px 10px;
}

.u-section-1 .u-text-8 {
  margin: 0 191px 0 0;
}

.u-section-1 .u-group-8 {
  min-height: 271px;
  height: auto;
  width: 295px;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-1 .u-text-9 {
  margin: 0 94px 0 18px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -231px 25px 0 auto;
  padding: 0 11px 0 10px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 33px 25px 0 auto;
  padding: 0 11px 0 10px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 25px 0 auto;
  padding: 0 11px 0 10px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 25px 0 auto;
  padding: 0 11px 0 10px;
}

.u-section-1 .u-group-9 {
  min-height: 443px;
  height: auto;
  width: 337px;
  margin: 59px auto -358px;
}

.u-section-1 .u-container-layout-10 {
  padding: 15px 10px 30px;
}

.u-section-1 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-10 {
  min-height: 338px;
  height: auto;
  width: 297px;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 10px;
}

.u-section-1 .u-icon-1 {
  width: 32px;
  height: 32px;
  margin: 12px auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: -26px 9px 0 59px;
}

.u-section-1 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: 31px auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-12 {
  margin: -26px 9px 0 59px;
}

.u-section-1 .u-icon-3 {
  width: 32px;
  height: 32px;
  margin: 34px auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: -26px 0 0 58px;
}

.u-section-1 .u-icon-4 {
  width: 32px;
  height: 32px;
  margin: 30px auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-14 {
  margin: -25px 0 0 58px;
}

.u-section-1 .u-icon-5 {
  width: 32px;
  height: 32px;
  margin: 32px auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-15 {
  margin: -26px 0 0 59px;
}

.u-section-1 .u-image-1 {
  width: 712px;
  min-height: 706px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/NFT_Shop-1.png");
  margin: -1068px 31px 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-group-12 {
  width: 346px;
  min-height: 398px;
  height: auto;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  margin: 18px auto 0 12px;
}

.u-section-1 .u-icon-6 {
  width: 39px;
  height: 39px;
  margin: -25px 10px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-17 {
  margin: -9px auto 0 12px;
}

.u-section-1 .u-group-13 {
  width: 346px;
  min-height: 398px;
  height: auto;
  background-image: none;
  margin: -399px 31px 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  margin: 12px auto 0 12px;
}

.u-section-1 .u-icon-7 {
  width: 40px;
  height: 39px;
  margin: -17px 16px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-19 {
  margin: -14px auto 0 12px;
}

.u-section-1 .u-group-14 {
  width: 346px;
  min-height: 407px;
  height: auto;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-icon-8 {
  width: 38px;
  height: 38px;
  margin: -25px 14px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-21 {
  margin: -15px auto 0 9px;
}

.u-section-1 .u-group-15 {
  width: 345px;
  min-height: 407px;
  height: auto;
  background-image: none;
  margin: -407px 31px -224px auto;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-22 {
  margin: 18px auto 0 9px;
}

.u-section-1 .u-icon-9 {
  width: 39px;
  height: 39px;
  margin: -22px 10px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-23 {
  margin: -22px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 108px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 72px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 72px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 72px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    width: 72px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 72px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    width: 52px;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-group-10 {
    width: 52px;
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: -27px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -27px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -27px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -27px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-text-16 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-13 {
    height: auto;
  }

  .u-section-1 .u-icon-7 {
    height: 40px;
  }

  .u-section-1 .u-group-14 {
    height: auto;
  }

  .u-section-1 .u-group-15 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 138px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 134px;
  }

  .u-section-1 .u-group-9 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-group-12 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 280px;
  }

  .u-section-1 .u-group-13 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 281px;
  }

  .u-section-1 .u-group-14 {
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    height: 302px;
  }

  .u-section-1 .u-group-15 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 303px;
  }
}